.Header {
  --Header-gap: var(--space-2x);
  --Header__title-font-size: 24px;

  @media (width >= 480px) {
    --Header-gap: var(--space-4x);
    --Header__title-font-size: 26px;
  }

  @media (width >= 720px) {
    --Header-gap: var(--space-8x);
    --Header__title-font-size: 32px;
  }

  @media (width >= 1024px) {
    --Header__title-font-size: 44px;
  }

  block-size: calc((var(--Header__title-font-size) * 2) + var(--phat-stroke));
  display: flex;
  gap: var(--Header-gap);
  margin: var(--space-12x) 0 var(--space-6x) 0;
  position: relative;
}

.Header__title {
  align-self: flex-start;
  border-block-end: var(--phat-stroke) solid var(--fvb-neutral-black);
  flex-grow: 1;
  font-size: var(--Header__title-font-size);
  line-height: 1;
  padding: 0 0 calc(var(--space) / 2) 0;
  text-transform: uppercase;

  > a {
    text-decoration: none;
  }
}

.Header__logo {
  align-self: center;
  block-size: var(--Header__logo-block____GlobalVar);
  inline-size: var(--Header__logo-inline____GlobalVar);
  transform-origin: center center;
}